.randomize-colors-icon {
  margin-left: 0.2em;
  width: 1.2em;
  height: 1.2em;
}

.randomize-colors-icon:hover {
  cursor: pointer;
}

.color-picker {
  visibility: hidden;

  position: absolute;
  left: 99%;
  /* Need to style so that this can appear to be separated
     from color dot but still work with hover.
   */
  /* left: 200%; */

  min-width: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: 10px;

  padding: 5px;
  border: 1px solid black;
  background-color: white;
}

.color-picker-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.disabled-color-dot {
  opacity: 30%;
}
