.randomize-colors-icon {
  margin-left: 0.2em;
  width: 1.2em;
  height: 1.2em;
}

.randomize-colors-icon:hover {
  cursor: pointer;
}

.color-picker {
  min-width: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: 10px;

  padding: 5px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: white;
}

.disabled-color-dot {
  opacity: 30%;
}
