.randomize-colors-icon {
  width: 1em;
  height: 1em;
}

.randomize-colors-icon:hover {
  cursor: pointer;
}

.color-picker {
  min-width: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: 10px;
}

.color-picker-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.disabled-color-dot {
  opacity: 30%;
}
