#game-setup {
  display: none;

  width: max-content;

  margin-top: 5%;

  /* grid-template-rows: 2fr 1fr 1fr max-content 1fr; */
  gap: 0.5em;
}

/**************************/

.player-name-input-stack {
  display: flex;
  gap: 0.5em;
  justify-content: space-around;
}

.player-name-input {
  width: 8em;
}

.player-input-body {
  display: flex;
  gap: 5em;
}

.player-list-table {
  text-align: center;
}

.player-input-table-delete-col {
  width: 1em;
}

.player-entry {
  height: 2.5em;
}

.delete-icon {
  width: 1em;
  height: 1em;
}

.delete-icon:hover {
  cursor: pointer;
}

.color-dot {
  position: relative;
  margin: auto;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
}

.color-dot:hover .color-picker {
  visibility: visible;
}

.game-setup-footer {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.win-number-input-stack {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.win-number-input-stack label {
  white-space: nowrap;
}

.win-number-input-stack input {
  width: 6em;
}

.start-button {
  width: max-content;
}
