#game-setup {
  display: none;
  justify-content: center;
}

#game-setup-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  margin-top: 5%;
}

/**************************/

.win-number-input-stack {
  display: flex;
  gap: 2em;
}

.win-number-input-stack label {
  white-space: nowrap;
}

.player-input-stack {
  display: flex;
  flex-direction: column;
}

.title-and-input-stack {
  display: flex;
}

.player-list-and-color-stack {
  display: flex;
  justify-content: space-around;
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.player-entry {
  display: flex;
  justify-content: space-between;
  gap: 2em;

  /* min-width: 300px; */
}

.color-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
