#game-setup {
  display: none;
  justify-content: center;
}

#game-setup-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  margin-top: 5%;
}

#player-input-label {
  margin-right: 0.5rem;
}

#player-tags {
  display: flex;
  flex-wrap: wrap;
}

.player-tag {
  margin: 0.5rem;
  padding: 3px 10px;
}
