#main-game-page {
  display: none;
  justify-content: center;
}

#main-game-page-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-top: var(--navbar-margin);

  width: 100%;
}
