#player-entry {
  display: none;
  justify-content: center;
}

#player-entry-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-top: 5%;
}

#player-entry-label {
  margin-right: 0.5rem;
}

#player-tags {
  display: flex;
  flex-wrap: wrap;
}

.player-tag {
  margin: 0.5rem;
  padding: 3px 10px;
}
