.yes-no-stack {
  display: flex;
  gap: 0.5rem;
}

.score-input-stack {
  display: flex;
  gap: 0.5rem;
}

.turn-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turn-result-inputs-stack {
  display: flex;
  gap: 0.5rem;
}
